.map_and_icons_container {
    .map_and_icons_container {
        width: 800px;
        min-width: 800px;
        max-width: 800px;
        height: inherit;
        min-height: inherit;
        max-height: inherit;
        /* background-color: blue; */
        display: flex;
        justify-content: center;
    }
    
}

.single_map_section_container {
    margin-top: 30px;
    display: flex;
    justify-content: center;
    /* background-color: red; */
    position: relative;
}

.islet_map {
    height: inherit;
    min-height: inherit;
    max-height: inherit;
    display: flex;
    justify-content: center;
}


/* ICONS */

/* contextdata-based class */
.is_icon_container {
    border-radius:  10px;
    background-color: var(--is_icon);
    transition: background-color 0.5s;
}
.is_icon_container:hover {
    background-color: var(--svg_islets);
    transition: background-color 0.5s;
} 

.is_icon_effect {
    background-color: var(--svg_islets);
    transition: background-color 0.5s;
}