.map_and_icons_container {
    .map_and_icons_container {
        width: 800px;
        min-width: 800px;
        max-width: 800px;
        height: inherit;
        min-height: inherit;
        max-height: inherit;
        /* background-color: blue; */
        display: flex;
        justify-content: center;
    }
    
}

.single_map_section_container {
    margin-top: 30px;
    display: flex;
    justify-content: center;
    /* background-color: red; */
    position: relative;
}

.islet_map {
    height: inherit;
    min-height: inherit;
    max-height: inherit;
    display: flex;
    justify-content: center;
}


/* ICONS */

/* contextdata-based class */
.is_icon_container {
    padding: 4px;
    border-radius:  10px;
    background-color: var(--moon);
    transition: background-color 0.3s ease-in-out, padding 0.3s ease-in-out, border-radius 0.3s ease-in-out;
}
.is_icon_container:hover {
    z-index: 1000;
    padding: 15px;
    border-radius:  30px;
    background-color: var(--svg_islets);
    transition: background-color 0.3s ease-in-out, padding 0.3s ease-in-out, border-radius 0.3s ease-in-out;

} 

.is_icon_effect {
    z-index: 1000;
    padding: 15px;
    border-radius:  30px;
    background-color: var(--svg_islets);
    transition: background-color 0.3s ease-in-out, padding 0.3s ease-in-out, border-radius 0.3s ease-in-out;

}