.map_and_icons_container {
    width: 700px;
    min-width: 700px;
    max-width: 700px;
    height: inherit;
    min-height: inherit;
    max-height: inherit;
    /* background-color: blue; */
    display: flex;
    justify-content: center;
}

.single_map_section_container_sea {
    margin-top: 30px;
    display: flex;
    justify-content: center;
    position: relative;
    /* background-color: yellow; */
}

/* icons */

.s_icon_container {
    background-color: red;
}
.seaside_hovered_card_icon_effect {
    background-color: yellow;
}