.map_and_icons_container {
    width: 700px;
    min-width: 700px;
    max-width: 700px;
    height: inherit;
    min-height: inherit;
    max-height: inherit;
    /* background-color: blue; */
    display: flex;
    justify-content: center;
}

.single_map_section_container_sea {
    margin-top: 30px;
    display: flex;
    justify-content: center;
    position: relative;
    /* background-color: yellow; */
}

/* icons */

.s_icon_container {

    border-radius: 10px;
    padding: 4px;
    background-color: var(--moon);
    transition: background-color 0.3s ease-in-out, padding  0.3s ease-in-out, border-radius 0.3s ease-in-out;
}
.s_icon_container:hover {
    z-index: 1000;
    padding: 15px;
    border-radius:  30px;
    background-color: var(--svg_beach);
    transition: background-color 0.3s ease-in-out, padding 0.3s ease-in-out, border-radius 0.3s ease-in-out;
}
.seaside_hovered_card_icon_effect {
    z-index: 1000;
    padding: 15px;
    border-radius:  30px;
    background-color: var(--svg_beach);
    transition: background-color 0.3s ease-in-out, padding 0.3s ease-in-out, border-radius 0.3s ease-in-out;
}