.img {
    z-index: 401;
    position: absolute;
    width: 15vw;
    height: auto;
    background-color: var(--sky_rgba); 
    bottom: -6vh;
    right: -1vw;
    animation: cloud_moves_footer_cloud 240s linear infinite, cloud_rotates 20s steps(1)  infinite;
    
}

/* the text moves with the cloud, but does not rotate */
.footer_component_element {
    z-index: 401;
    position: absolute;
    width: 15vw;
    height: auto;
    background-color: var(--sky_rgba); 
    bottom: 5vh;
    right: -6vw;
    font-family: var(--playwrite);
    animation: cloud_moves_footer_text 240s linear infinite;
}


.img:hover {
    filter: hue-rotate(-180deg); 
    cursor: pointer;
    height: auto;
}

.footer_component_element:hover {
    cursor: pointer;
}

@keyframes cloud_moves_footer_cloud{
    0% {
      
        bottom: -5vh;
        right: 15vw;
    }
    100% {
        bottom: -5vh;
        left: 0vw;
    }
}

@keyframes cloud_moves_footer_text{
    0% {
        bottom: 5vh;
        right: 10vw;
    }
    100% {
        bottom: 5vh;
        left: -1vw;
    }
}