/* EXTERNAL GENERAL CARD LAYOUT */

.ext_card_container {
    background-color: var(--ext_card_land);
    width: 100%;
    height: 0%;
    position: relative;
    transition: height 2s ease-in-out;
}

.ext_card_text_container {
    background-color: red;
    margin: 20px;
    display: flex;
    flex-direction: column;
}
.ext_card_title_container {
    font-size: var(--size_title);
    background-color: blue;
    justify-content: center;
    align-items: center;
}
.ext_card_title {
    text-align: center;
    padding-bottom: 10px;
}

/* EXTERNAL CARD MAINLAND */

.ext_card_container_appears {
    animation: appear 0.5s ease-in-out;
    height: 100%;
}

.ext_card_container_fades {
    transition: height 0.5s ease-in-out;
    height: 0%;
}

/* EXTERNAL CARD SEASIDE */

.ext_sea_card_container {
    background-color: var(--ext_card_sea);
    width: 100%;
    height: 0%;
    position: relative;
    transition: height 2s ease-in-out;
}

.ext_sea_card_container_appears {
    animation: appear 0.5s ease-in-out;
    height: 100%;
}

.ext_sea_card_container_fades {
    transition: height 0.5s ease-in-out;
    height: 0%;
}

/* EXTERNAL CARD ISLETS */
.ext_islet_card_container {
    background-color: var(--ext_card_islets);
    width: 100%;
    height: 0%;
    position: relative;
    transition: height 2s ease-in-out;
}

.ext_islet_card_container_appears {
    animation: appear 0.5s ease-in-out;
    height: 100%;
}

.ext_islet_card_container_fades {
    transition: height 0.5s ease-in-out;
    height: 0%;
}



/* EXTERNAL CARD ANIMATIONS */ 

@keyframes appear {
    0% {
        height: 0%;
    }
    
    100% {
        height: 100%;
    }
}

@keyframes fade {
    0%, 20% {
        height: 100%;
    }
    50% {
        height: 50%;
    }
    100% {
        height: 0%;
    }
}