.night {
   position: absolute;
   z-index: var(--night_z);
    width: 180vw;
    height: 180vw;
    border-radius: 50%;
    background-color: var(--night);
    animation: night_compares_night_disappears var(--moon_sun_night) linear infinite; 
}

/* 
   1. the night canvas expands from hidden bottom left.
   2. moves towards top right.
   3. it goes totally out of frame, but towards top right.
   4. when totally hidden, it goes back to starting position  
*/

@keyframes night_compares_night_disappears {

   0% {
      /* night is hidden on bottom LEFT. */
      top: 180vh;
      right: 180vw;
   }
   50% {
      /* first half: night is still hidden down. sun is out there. */
      top: 180vh;
      right: 180vw;
   }
   65% {
      /* night reaches the top of the screen, in about 2.5 seconds. */
      top: -40vh;
      right: -40vw;
   }
   85% {
      /* night stays on top, for 4 seconds. */
      top: -40vh;
      right: -40vw;
   }
   100% {
      /* night goes down back to bottom RIGHT. in about 2.5 seconds. */
      top: 50vh;
      right: -180vw;
   }
}  
